<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <tittle>{{ titulo}}</tittle>
    </head>
    <body>
        <header>
            <h1>Bienvenido a mi biblioteca de libros favoritos </h1>
                <nav>
                    <a href="'/">Inicio</a>
                    <a href="'/">Libros</a>
                    <a href="'/">Autores</a>
                </nav>
        </header>

        <main>
            {% block contenido %} 
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 - Alanis Oliveras</p>
        </footer>
    </body>
</html>