<!DOCTYPE html>
<html lang="es">
    <head> 
        <meta charset="utf-8">
        <tittle>Inicio -Roles en Flask</tittle>
    </head>
    <body>
        <h1>Bienvenido a la app de Roles en Flask</h1>
        {% if current_user.is_authenticated %}
        <p>Hola, {{current_user.username}} (Rol: {{current_user.role}})</p>
        <a href="{{url_for('logout')}}" >Cerrar sesión</a>

        {% else %}
        <h2>Iniciar sesión como:</h2>
        <a href="{{ url_for('login', username='Kaleb')}}" >Usuario (Kaleb) </a> <br>
        <a href="{{ url_for('login', username='Laura')}}" >Administrador (Laura) </a> <br>
        {% endif %}
    </body>
</html>